:root {
    --primary: rgb(33, 78, 63);
    --secondary: rgb(230, 202, 177);
}

* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto
}

body {

}

 h1, h2, h3 {
    text-align: center;
    padding: 10px;
 }

header, footer {
    background-color: var(--primary);
    color: whitesmoke;
    border-bottom: var(--secondary) solid 10px;
    height: 16vh;
}

footer {
    border-bottom: rgb(45, 45, 45) solid 10px;
}

header ul {
    display: flex;
    /* flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end; */
    flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

header ul li {
    list-style: none;

}

.main {
    display: flex;
    flex-direction: column;
}

.main img {
    /* align-content: center; */
}

.main p {
    margin: 10px auto;
}

.form-section {
    background-color: var(--secondary);
    border-top: rgb(182, 146, 114) solid 2px;
    padding: 10px;
}

form.form-example {
    display: table;
    border:rgb(182, 146, 114) solid 2px;
    padding: 20px;
    border-radius: 20px;
  }
  
  div.form-example {
    display: table-row;
  }
  
  label,
  input {
    display: table-cell;
    margin-bottom: 10px;
  }
  
  label {
    padding-right: 10px;
  }
    #button {
        display: flex;
        align-items: center;
        
    }

  #button input{
    background-color: rgb(81, 52, 52);
    color: whitesmoke;
    height: 8vh;
    width: 13vw;
  }

